{% extends 'base.html.twig' %}

{% block title %}Travaux en cours - Mathéo Balens{% endblock %}

{% block content %}
<main class="page cv-page">
    <section style="margin: 150px;">
        <div class="text-center">
            <p class="text-center" style="font-size: 30px;">En cours de construction</p><i class="fas fa-warning" style="text-align: center;font-size: 60px;"></i>
        </div>
    </section>
</main>
{% endblock %}