
.about-me-custom {
    display: flex;
    justify-content: center;
}

.typewriter p {
    font-family: "JetBrains Mono", monospace;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: typing 3.5s steps(62);
}

.typewriter p::after {
    content: "";
    position: absolute;
    display: block;
    height: 40%;
    width: 1px;
    background: #151515;
    right: 0;
    top: 0;
    animation: cursor 1s infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.iut-lens {
    width: 100%;
}

.iut-lens img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.iut-lens img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
